<footer>
      <div class="footer">
        <dl class="footer-nav">
          <dt>DogHub</dt>
          <dd><a href="#">About us</a></dd>
          <dd><a href="#">Blog</a></dd>
          <dd><a href="#">Contact &amp support</a></dd>
          <dd><a href="#">DogHub Enterprise</a></dd>
          <dd><a href="#">Site status</a></dd>
        </dl>

        <dl class="footer-nav">
          <dt>Applications</dt>
          <dd><a href="#">DogHub for Mac</a></dd>
          <dd><a href="#">DogHub for Windows</a></dd>
          <dd><a href="#">DogHub for Eclipse</a></dd>
          <dd><a href="#">DogHub mobile apps</a></dd>
        </dl>

        <dl class="footer-nav">
          <dt>Services</dt>
          <dd><a href="#">Gauges: Web analytics</a></dd>
          <dd><a href="#">Speaker Deck: Presentations</a></dd>
          <dd><a href="#">Gist: Code snippets</a></dd>
          <dd><a href="#">Job board</a></dd>
        </dl>

        <dl class="footer-nav">
          <dt>Documentation</dt>
          <dd><a href="#">DogHub Help</a></dd>
          <dd><a href="#">Developer API</a></dd>
          <dd><a href="#">DogHub Flavored Markdown</a></dd>
          <dd><a href="#">DogHub Pages</a></dd>
        </dl>

        <dl class="footer-nav">
          <dt>More</dt>
          <dd><a href="#">Training</a></dd>
          <dd><a href="#">Students &amp teachers</a></dd>
          <dd><a href="#">The Shop</a></dd>
          <dd><a href="#">Plans &amp pricing</a></dd>
          <dd><a href="#">The Octodex</a></dd>
        </dl>

        <hr class="footer-divider">

        <p class="footer-right">© 2013 DogHub, Inc. All rights reserved.</p>

        <ul>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Security</a></li>
        </ul>


      </div>
    </footer>
